<?xml version="1.0"?>
<config>
    <modules>
        <Netstarter_Imageswitcher>
            <version>0.2.0</version>
        </Netstarter_Imageswitcher>
    </modules>
    <global>
        <helpers>
            <imageswitcher>
                <class>Netstarter_Imageswitcher_Helper</class>
            </imageswitcher>
        </helpers>
        <models>
            <imageswitcher>
                <class>Netstarter_Imageswitcher_Model</class>
            </imageswitcher>
        </models>
        <blocks>
            <imageswitcher>
                <class>Netstarter_Imageswitcher_Block</class>
            </imageswitcher>
            <catalog>
                <rewrite>
                    <product_view_type_configurable>Netstarter_Imageswitcher_Block_Catalog_Product_View_Type_Configurable</product_view_type_configurable>
                </rewrite>
            </catalog>
        </blocks>
    </global>
    <frontend>
        <routers>
            <imageswitcher>
                <use>standard</use>
                <args>
                    <module>Netstarter_Imageswitcher</module>
                    <frontName>imageswitcher</frontName>
                </args>
            </imageswitcher>
        </routers>
        <layout>
            <updates>
                <imageswitcher>
                    <file>imageswitcher.xml</file>
                </imageswitcher>
            </updates>
        </layout>
    </frontend>
</config>